body {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  h1 {
    font-family: 'Lora', serif;
    text-align: center;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: #AF1B3F;
    font-size: 1.1rem;
    margin: 0 1rem;
  }
  
  .skiptocontent a {
    position: absolute;
    top: -40px;
  }
  
  .skiptocontent a:focus {
    top: 0;
  }
  

  #articles article{

    display : grid;
    grid-template-columns: 1fr 2fr;
  }


  #maincontent{
    display : grid;
    grid-template-columns: 3fr 1fr;
  }